body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
	font-family: Lato;
	font-size: 13px;
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
