body {
  font: 10px sans-serif;
}
    
.axis path,
.axis line {
	font-family: Lato;
	font-size: 13px;
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff;
    cursor: move;
}




