.inline-block {
	display: inline-block;
}

.left-buffer {
	margin-left: 1px;
}

.right-buffer {
	margin-right: 1px;
}

.full-buffer {
	margin: 3px 3px 3px 3px;
}

.top-buffer {
	margin-top: 10px;
}

.bottom-buffer {
	margin-top: 10px;
}

.search-school-list {
	height: 450px;
	overflow-y: scroll; 
}

