<div id="activity">
	
</div>

<script type="text/javascript">
	var margin = {top: 10, right: 10, bottom: 10, left: 30};
	var width = 600 - margin.left - margin.right;
	var height = 250 - margin.top - margin.bottom;
	var data = {{ activity | safe}};
	var domainX = d3.extent(data, function(d) { return new Date(d.date)});
	var domainY = d3.extent(data, function(d) { return d.count});

	var x = d3.time.scale()
				.domain(domainX)
				.range([margin.left, width]);

	var y = d3.scale.linear()
				.domain(domainY)
				.range([height, margin.bottom]);

	var xAxis = d3.svg.axis()
				.scale(x)
				.orient("bottom");

	var yAxis = d3.svg.axis()
				.scale(y)
				.orient("left");

	var line = d3.svg.line()
				.x(function(d) {return x(new Date(d.date))})
				.y(function(d) {return y(d.count)});

	var svg = d3.select('#activity')
                  .append('svg')
                  .attr('width', width + margin.left + margin.right)
                  .attr('height', height + margin.top + margin.bottom)
                  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");



	var path = svg.append('path')
                      .datum(data)
                      .attr('class', 'line')
                      .attr('d', line)
                      .style('fill', 'none')
                      .style('stroke', '#FB5050')
                      .style('stroke-width', '3px');  
     svg.append("g")
      .attr("class", "y axis")
      .attr('transform', 'translate(' + margin.left + ',0)')
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Activity")

	svg.append('g')
     	.attr({
     		class: 'x axis',
     		transform: 'translate(0,' + height  + ')',
     	})
     	.call(xAxis)
     	// .ticks(12);

</script>