<!DOCTYPE html>
<html ng-app="thrum">
<head>
	<title>Thrum</title>
	{% include 'head.html' %}
</head>
<body>
	<div ng-controller="MainController">
		{% include 'navbar.html' %}
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<!-- <ul class="list-group">
					<li ng-repeat="word in trending track by $index" class="list-group-item">{{ word | angular}}</li>
				</ul> -->
				<h1 class="text-center">{{selected | angular}}</h1>
				<h5 ng-if="term" class="text-center"> trending</h5>
				<a ng-repeat="word in trending track by $index"  ng-click="usage(word)"href="#" class="btn btn-primary btn-sm full-buffer">{{ word | angular}}</a>
			</div>
			<div class="row">
				<h1 ng-if="term">{{term | angular}}</h1>
				<bar-graph data="usageData">	
				</bar-graph>
			</div>
		</div>
	</div>
</body>
</html>