<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right">
            {% for college in colleges %}
              <li><a href="/dashboard/{{college}}">{{college}}</a></li>
            {% endfor %}
          </ul>  
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if college %}
            <li class="text-secondary"><a href="#">{{college}}</a></li>
        {% endif %}
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>