<!-- Navigational Sidebar -->
<div class="col-md-1">
        <h1 class=""> <a href="/">Thrum</a> <span class="" aria-hidden="true"></span></h1>
        <ul class="list-group">
            <li onclick="toggleSchoolList()" class="list-group-item">
            <span class="glyphicon glyphicon-subscript" aria-hidden="true"></span>
            Analysis
            </li>
            <li class="list-group-item">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            About
            </li>
        </ul>
</div>

<!-- list of colleges -->
<div id="school-list" class="col-md-2 hidden">
    <h3 class="">Colleges <span class="glyphicon glyphicon-education" aria-hidden="true"></span></h3>
    <ul class="list-group">
    {% for school in colleges %}
        <a href="/dashboard/{{school}}">
            <li class="list-group-item">{{school}}</li>
        </a>
    {% endfor %}
    </ul>
</div>
