<div id="visits_today" class="text-center">
	
</div>
<script type="text/javascript">
	var data = {{ hourly_data | safe}};
	console.log(data);
	// constants
	var w = 600;
	var h = 300;
	var barPadding = 1;
	var padding = 30;

	// scaling
	var max = d3.max(data, function(d) {return d.count});
	var yScale = d3.scale.linear()
			 		     .domain([0, max])
			 		     .range([0, h - padding]);

	var yAxisScale = d3.scale.linear()
			 		     .domain([0, max])
			 		     .range([h, 0]);

	var xScale = d3.scale.linear()
								 .domain([0, 23])
								 .range([padding, w - padding * 2]);

	// create the svg
	var svg = d3.select('#visits_today')
				.append('svg')
				.attr('width', w)
				.attr('height', h);

	svg.selectAll('rect')
		.data(data)
		.enter()
		.append('rect')
		.attr({
			x: function(d, i) { return i * (w / data.length); },
			y: function(d) { return  h - yScale(d.count); },
			width: (w / data.length - barPadding),
			height: function(d) {return  yScale(d.count); },
			fill: function(d) {return "rgb(0, 0, " + (d.count * 10) + ")";},
		});

	svg.selectAll("text")
   .data(data)
   .enter()
   .append("text")
   .text(function(d) {
   		return d.count;
   })
   .attr({
   		x: function(d, i) { return i * (w / data.length) + (w / data.length - barPadding) / 2},
   		y: function(d) { return  h - yScale(d.count) + 15; },
   		"font-family": "sans-serif",
   		"font-size": "11px",
   		fill: "white",
   		"text-anchor": "middle"
   })

   var yAxis = d3.svg.axis()
				.scale(yAxisScale)
				.orient("left")
				.ticks(5);

	svg.append("g")
		.attr("class", "axis")
		.attr("transform", "translate(" + 20 + ",0)")
		.call(yAxis);

	var xAxis = d3.svg.axis()
		.scale(xScale)
		.orient("bottom")
		.ticks(24); //Set rough # of ticks

	svg.append("g")
		.attr("class", "axis")
		.attr("transform", "translate(0," + (h - 30) + ")")
		.call(xAxis);
</script>