<div id="word-cloud" class="text-center">
	<h2> Word Frequency</h2>
</div>
<script type="text/javascript">
	var wf = {{ word_cloud | safe }};
	var width = 400;
	var height = 500;

	var fill = d3.scale.category20();
	d3.layout.cloud().size([width, height])
	  .words(wf)
	  .padding(5)
	  .rotate(function() { return ~~(Math.random() * 2) * 90; })
	  .font("Impact")
	  .fontSize(function(d) { return d.value * 10; })
	  .on("end", draw)
	  .start();

	function draw(words) {
	d3.select("#word-cloud").append("svg")
	    .attr("width", width)
	    .attr("height", height)
	  .append("g")
	    .attr("transform", "translate(" + 400 +",300)")
	  .selectAll("text")
	    .data(words)
	  .enter().append("text")
	    .style("font-size", function(d) { return (d.value * 12) + "px"; })
	    .style("font-family", "Impact")
	    .style("fill", function(d, i) { return fill(i); })
	    .attr("text-anchor", "middle")
	    .attr("transform", function(d) {
	      return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
	    })

	    .text(function(d) { return d.word; });
	}
	    .on('click', function (d) { drawForceLayout(d.word)})
	    .text(function(d) { return d.word; });
	}

	function drawForceLayout(word) {
		var html = document.getElementById('force_layout');
		html.innerHtml = ""
		var url = '/bigrams/Georgia Tech/' + word;
		d3.json(url, function(error, json) {
			if (error){
				alert(error);
			}
			else {
				ForceLayout(json, word);
			}
		});
	}

	function ForceLayout(graph, word) {

var width = 600,
    height = 400;

var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(-120)
    .linkDistance(30)
    .size([width, height]);

var svg = d3.select("#force_layout").append("svg")
    .attr("width", width)
    .attr("height", height);

  force
      .nodes(graph.nodes)
      .links(graph.edges)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.edges)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("g");
      // .attr("class", "node")
      // .attr("r", 5color      // .style("fill", function(d) { return color(d.group); })
      // .call(force.drag);
      node.append("circle")
  .attr("class", "node")
  .attr("r", 10)
  .style("fill", function(d) {
  		if (d.word == word) {
  			return "#bf5a16"
  		}
  		return color(d.group); })
  .call(force.drag);

var labels = node.append("text")
  .text(function(d) { return d.word; })
  .style('fill', 'white');

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
       node.attr("transform", function(d) { 
    return 'translate(' + [d.x, d.y] + ')'; 
  });  
  });

  // node.attr("transform", function(d) { 
  //   return 'translate(' + [d.x, d.y] + ')'; 
  // });  
	}	
</script>